[Install]
WantedBy=multi-user.target

[Unit]
Description=Time Tracking Application
Documentation=https://github.com/Ocisra/yotta

[Service]
Type=simple
ExecStart=/usr/bin/yotta_daemon
Restart=always
